:root {
  --white: #fff;
  --darker-white: #f6f8f7;
  --primary-blue: #2947a9;
  --secondary-blue: #3559c7;
  --primary-orange: #f9995d;
  --black: #14171f;
  --dark-color: #292e3d;
  --grey: #858ead;
  --light-grey: #e0e3eb;
  --placeholder: #a3aac2;
  --primary-font: 'Work Sans', sans-serif;
}

body {
  font-family: var(--primary-font);
  background-color: var(--white);
}

html,
body {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
  color: var(--black);
}

/**
  |============================
  | HEADER
  |============================
*/

.header {
  height: 58px;
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  margin-left: 45px;
  align-items: center;
}

.logo-icon {
  margin-right: 10px;
}

.logo-link {
  color: var(--primary-blue);
  font-size: 22px;
  font-weight: 700;
  display: flex;
  align-items: center;
  margin-right: 345px;
}

.logo-span {
  font-style: italic;
}

.nav-list {
  display: flex;
  gap: 35px;
}

.nav-list li {
  font-size: 14px;
  color: var(--black);
  cursor: pointer;
}

.nav-list li:last-child {
  color: var(--primary-orange);
}

@media screen and (min-width: 1440px) {
  .nav-list li {
    font-size: 16px;
  }

  .navigation {
    margin-left: 150px;
  }

  .logo-link {
    margin-right: 470px;
  }
}

/**
  |============================
  | HERO
  |============================
*/

.hero-section {
  background-image: url(../images/background.jpg);
  height: 472px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero-section::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.5) 100%
  );
  z-index: 1;
}

.hero-heading {
  width: 406px;
  font-size: 52px;
  font-weight: bolder;
  position: absolute;
  top: 175px;
  left: 82px;
  z-index: 2;
}

.corner-box-container {
  position: absolute;
  bottom: 0px;
  right: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 140px;
  background-color: var(--secondary-blue);
  color: var(--white);
  padding-top: 14px;
  z-index: 2;
}

.box-heading {
  font-size: 14px;
  margin-bottom: 15px;
  margin-top: 15px;
  font-weight: 600;
}

.box-p {
  font-size: 18px;
  margin-bottom: 22px;
  width: 228px;
  text-align: center;
}

.btns-container {
  display: flex;
  gap: 0;
}

.btns-container button {
  background-color: var(--dark-color);
  font-size: 13px;
  color: var(--white);
  height: 30px;
  width: 150px;
  cursor: pointer;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}

.btns-container button:hover,
.btns-container button:focus {
  background-color: black;
}

.btn-back {
  border-left: none;
  border-top: none;
  border-bottom: none;
  border-right: 2px solid var(--white);
}

.btn-next {
  border-right: none;
  border-top: none;
  border-bottom: none;
  border-left: 2px solid var(--white);
}

.arrow-icon {
  fill: var(--white);
}

@media screen and (min-width: 1440px) {
  .hero-section {
    height: 600px;
  }

  .hero-heading {
    width: 450px;
    z-index: 2;
    font-size: 60px;
    font-weight: bolder;
    position: absolute;
    top: 200px;
    left: 120px;
  }

  .corner-box-container {
    width: 420px;
    height: 215px;
  }

  .box-heading {
    font-size: 20px;
    margin-top: 35px;
    margin-bottom: 24px;
  }

  .box-p {
    font-size: 22px;
    margin-bottom: 35px;
    width: 280px;
  }

  .btns-container button {
    width: 210px;
    height: 45px;
    font-size: 16px;
  }
}

/**
  |============================
  | Reputation Section
  |============================
*/

.reputation-section {
  padding: 44px 150px 60px 158px;
}

.main-rep-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.rep-heading {
  text-align: center;
  font-size: 26px;
  margin-bottom: 36px;
}

.rep-list-heading {
  font-size: 15px;
  margin-bottom: 13px;
}

.rep-p {
  color: var(--grey);
  font-size: 11px;
}

.rep-icon {
  fill: var(--primary-orange);
  margin-bottom: 10px;
}

.rep-list {
  display: flex;
  gap: 48px;
}

.rep-list li {
  width: 213px;
  border-radius: 3px;
  border: 1px solid var(--light-grey);
  padding: 14px 14px 30px 14px;
}

@media screen and (min-width: 1440px) {
  .reputation-section {
    padding: 60px 150px 60px 158px;
  }

  .main-rep-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .rep-list li {
    width: 270px;
    padding: 18px 18px 34px 18px;
  }

  .rep-heading {
    font-size: 30px;
    margin-bottom: 36px;
  }

  .rep-list-heading {
    font-size: 18px;
    margin-bottom: 13px;
  }

  .rep-p {
    color: var(--grey);
    font-size: 14px;
  }
}

/**
  |============================
  | About us section
  |============================
*/

.about-us-section {
  padding: 54px 82px 147px 83px;
  position: relative;
}

.about-text-container {
  width: 283px;
  height: 301px;
  background-color: var(--primary-blue);
  color: var(--white);
  padding: 37px 44px 44px 30px;
  border-radius: 1px;
  position: absolute;
  top: 100px;
  right: 70px;
}

.about-heading {
  margin-bottom: 27px;
  font-size: 26px;
}

.about-p {
  margin-bottom: 23px;
  width: 283px;
  font-size: 14px;
}

.last {
  margin-bottom: 52px;
}

.about-btn {
  width: 160px;
  height: 38px;
  font-size: 14px;
  font-weight: 600;
  border: none;
  border-radius: 4px;
  background-color: var(--white);
  color: var(--primary-blue);
  cursor: pointer;
}

.about-btn:hover,
.about-btn:focus {
  background-color: var(--dark-color);
  color: var(--white);
}

@media screen and (min-width: 1440px) {
  .about-us-section {
    padding: 74px 300px 147px 83px;
  }
  .main-about-container {
    display: flex;
    justify-content: center;
  }

  .about-text-container {
    width: 293px;
    height: 311px;
    top: 110px;
    right: 260px;
  }

  .about-heading {
    margin-bottom: 27px;
    font-size: 27px;
  }

  .about-p {
    margin-bottom: 23px;
    width: 283px;
    font-size: 15px;
  }

  .last {
    margin-bottom: 52px;
  }

  .about-btn {
    width: 160px;
    height: 38px;
    font-size: 15px;
  }
}

/**
  |============================
  | Services section
  |============================
*/

.services-section {
  padding: 32px 158px 55px 158px;
  background-color: var(--darker-white);
}

.serv-heading {
  margin-bottom: 26px;
  text-align: center;
  font-size: 26px;
}

.services-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 35px;
  column-gap: 70px;
}

.services-list li {
  width: calc((100% - 70px * 2) / 3);
  height: 132px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}

.serv-item-heading {
  font-size: 14px;
}

.serv-icon {
  margin-bottom: 20px;
}

.blue-item {
  background-color: var(--primary-blue);
  color: var(--white);
}

.white-item {
  background-color: var(--white);
  color: var(--primary-blue);
}

.blue-item:hover,
.blue-item:focus,
.white-item:hover,
.white-item:focus {
  transform: scale(1.05);
}

@media screen and (min-width: 1440px) {
  .services-section {
    padding: 52px 168px 65px 168px;
  }

  .services-list li {
    height: 160px;
  }

  .serv-heading {
    font-size: 28px;
  }

  .serv-item-heading {
    font-size: 16px;
  }
}

/**
  |============================
  | Experience section
  |============================
*/

.exp-section {
  padding: 90px 100px 100px 190px;
}

.main-exp-container {
  display: flex;
  gap: 110px;
}

.exp-text {
  width: 262px;
  padding-top: 60px;
}

.exp-heading {
  font-size: 44px;
  font-weight: bold;
  margin-bottom: 30px;
  color: var(--primary-blue);
}

.exp-p {
  font-size: 14px;
  margin-bottom: 45px;
  color: var(--dark-color);
}

.exp-btn {
  width: 130px;
  height: 38px;
  background-color: var(--primary-blue);
  color: var(--white);
  border: none;
  border-radius: 1.5;
  font-size: 13px;
  cursor: pointer;
}

.exp-btn:hover,
.exp-btn:focus {
  transform: scale(1.05);
}

.exp-boxes {
  width: 330px;
  height: 460px;
}

.exp-box {
  box-shadow: 0 2.926928758621216px 4.390393257141113px -1.463464379310608px rgba(17, 24, 39, 0.05),
    0 8.780786514282227px 11.707715034484863px -2.926928758621216px rgba(17, 24, 39, 0.1);
  height: 73px;
  width: 150px;
  margin-bottom: 20px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.project {
  width: 264px;
  background-color: var(--grey);
}

.client {
  width: 204px;
  background-color: var(--light-grey);
}

.award {
  width: 200px;
  background-color: var(--grey);
}

.years {
  width: 243px;
  background-color: var(--light-grey);
}

.exp-box-number {
  color: var(--dark-color);
  font-size: 50px;
  font-weight: 600;
}

.exp-box-p {
  font-size: 17px;
}

@media screen and (min-width: 1440px) {
  .exp-section {
    padding: 120px 100px 150px 350px;
  }

  .main-exp-container {
    gap: 130px;
  }

  .exp-text {
    padding-top: 90px;
  }

  .exp-heading {
    font-size: 50px;
  }

  .exp-p {
    font-size: 16px;
  }

  .exp-btn {
    width: 140px;
    height: 43px;
    font-size: 15px;
  }

  .exp-boxes {
    width: 350px;
    height: 500px;
  }

  .exp-box {
    margin-bottom: 40px;
    height: 80px;
    padding: 10px;
  }

  .project {
    width: 274px;
  }

  .client {
    width: 214px;
  }

  .award {
    width: 210px;
  }

  .years {
    width: 253px;
  }
}

/**
  |============================
  | Consultation section
  |============================
*/

.consult-section {
  background-image: url(../images/consult-bg.png);
  position: relative;
  background-size: cover;
  height: 220px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.main-consult-container {
  padding-left: 80px;
  padding-top: 73px;
  display: flex;
  gap: 132px;
}

.consult-heading {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 21px;
  color: var(--white);
}

.consult-p {
  font-size: 17px;
  color: var(--white);
}

.consult-a {
  text-decoration: underline;
  color: var(--white);
}

.btn-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.consult-btn {
  width: 170px;
  height: 38px;
  background-color: transparent;
  color: white;
  border: 2px solid white;
  border-radius: 20px;
  font-size: 13px;
  cursor: pointer;
  transition: all 0.2s;
}

.consult-btn:hover {
  transform: scale(0.98);
  background-color: white;
  color: #000000;
}

@media screen and (min-width: 1440px) {
  .main-consult-container {
    padding-top: 73px;
    padding-left: 150px;
    padding-right: 230px;
    display: flex;
    justify-content: space-between;
    gap: 132px;
  }

  .consult-btn {
    width: 190px;
    height: 50px;
    font-size: 16px;
  }
}

/**
  |============================
  | Projects section
  |============================
*/

.projects-section {
  padding: 64px 80px 100px;
}

.main-project-container {
  display: flex;
  gap: 180px;
}

.text-project-div h3 {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 30px;
}

.proj-list li {
  color: var(--grey);
  font-size: 17.5px;
  font-weight: 500;
  margin-bottom: 14px;
  opacity: 50%;
  cursor: pointer;
}

.proj-list .active-proj {
  color: var(--primary-blue);
  opacity: 100%;
  font-weight: 700;
}

.photo-projects-div {
  display: flex;
  flex-direction: column;
}

.photo-projects-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 23px;
  margin-bottom: 24px;
}

.photo-projects-list li {
  width: calc((100% - 23px) / 2);
  display: flex;
  flex-direction: column;
  gap: 0;
  background-color: var(--primary-blue);
  cursor: pointer;
}

.photo-pr-text {
  background-color: var(--primary-blue);
  color: var(--white);
  height: 61px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 8px;
}

.pr-name-heading {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 9px;
  margin-top: 0;
}

.pr-name-p {
  font-size: 13px;
  font-weight: normal;
}

.pr-buttons {
  display: flex;
  justify-content: center;
}

.pr-btn {
  width: 215px;
  height: 46px;
  font-size: 13px;
  background-color: var(--dark-color);
  color: var(--white);
  cursor: pointer;
}

.pr-btn:hover,
.pr-btn:focus {
  background-color: black;
}

.pr-btn:nth-last-child(n + 2) {
  margin-right: 24px;
}

.dots-list {
  width: 105px;
  display: flex;
  align-items: center;
}

.dots-list::before {
  content: '路 路 路 路  ';
  margin-right: 24px;
  color: #000;
  font-size: 42px;
}

@media screen and (min-width: 1440px) {
  .projects-section {
    padding: 104px 80px 100px 220px;
  }

  .main-project-container {
    gap: 250px;
  }

  .photo-projects-list {
    gap: 25px;
    width: 600px;
  }

  .photo-projects-list li {
    width: calc((100% - 25px) / 2);
  }

  .text-project-div h3 {
    font-size: 28px;
    margin-bottom: 30px;
  }

  .proj-list li {
    font-size: 20px;
    margin-bottom: 14px;
  }

  .photo-pr-text {
    height: 71px;
    padding-left: 10px;
  }

  .pr-name-heading {
    font-size: 16px;
    margin-bottom: 9px;
  }

  .pr-name-p {
    font-size: 14px;
  }

  .pr-btn {
    width: 220px;
    height: 48px;
    font-size: 16px;
  }

  .dots-list::before {
    font-weight: bold;
    font-size: 41px;
  }
}

/**
  |============================
  | Form section
  |============================
*/

.form-section {
  background-color: var(--darker-white);
  padding-top: 45px;
  padding-bottom: 45px;
}

.form-heading {
  font-size: 26px;
  margin-bottom: 14px;
}

.form-p {
  font-size: 14px;
  margin-bottom: 27px;
  text-align: center;
  width: 394px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-inputs {
  display: flex;
  flex-wrap: wrap;
  row-gap: 15px;
  column-gap: 23px;
  width: 433px;
  margin-bottom: 15px;
}

.form-inputs input,
.form-inputs select {
  width: 198px;
  height: 30px;
  padding: 0;
  border: 1px solid var(--light-grey);
  border-radius: 3px;
  padding-left: 5px;
  font-size: 13px;
}

.form-inputs select {
  width: 204.6px;
  height: 31.6px;
  color: var(--placeholder);
  font-family: inherit;
}

.form-inputs select:active,
.form-inputs select:focus {
  border: 2px solid var(--primary-blue);
}

textarea {
  padding-left: 5px;
  padding-top: 5px;
  width: 428px;
  resize: none;
  height: 98px;
  border: 1px solid var(--light-grey);
  border-radius: 3px;
  font-family: inherit;
}

.input::placeholder,
.textarea::placeholder {
  color: var(--placeholder);
  font-family: inherit;
  font-size: 13px;
}

.message-form-p {
  font-size: 11px;
  color: var(--dark-color);
  margin-bottom: 20px;
}

.message-form-p > span {
  color: red;
}

.form-sbt-btn {
  width: 198px;
  height: 38px;
  background-color: var(--primary-blue);
  color: var(--white);
  font-size: 13px;
  border: none;
  border-radius: 1px;
  cursor: pointer;
}

.form-sbt-btn:hover,
.form-sbt-btn:focus {
  background-color: var(--secondary-blue);
}

@media screen and (min-width: 1440px) {
  .form-inputs {
    row-gap: 20px;
    column-gap: 30px;
    width: 525px;
    margin-bottom: 20px;
  }

  .form-inputs input,
  .form-inputs select {
    width: 240px;
    height: 40px;
    padding-left: 5px;
  }

  .form-inputs select {
    width: 246.6px;
    height: 41.6px;
    font-size: 15px;
  }

  textarea {
    width: 517px;
    height: 100px;
  }

  .input::placeholder,
  .textarea::placeholder {
    font-size: 15px;
  }

  .message-form-p {
    font-size: 13px;
    margin-bottom: 25px;
  }

  .form-sbt-btn {
    width: 205px;
    height: 42px;
    font-size: 16px;
  }
}
