:root {
  --white: #fff;
  --darker-white: #f6f8f7;
  --primary-blue: #2947a9;
  --secondary-blue: #3559c7;
  --primary-orange: #f9995d;
  --black: #14171f;
  --dark-color: #292e3d;
  --grey: #858ead;
  --light-grey: #e0e3eb;
  --primary-font: 'Work Sans', sans-serif;
}

body {
  font-family: var(--primary-font);
  background-color: var(--white);
}

html,
body {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
  color: var(--black);
}

/**
  |============================
  | HEADER
  |============================
*/

.header {
  height: 58px;
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  margin-left: 45px;
  align-items: center;
}

.logo-icon {
  margin-right: 10px;
}

.logo-link {
  color: var(--primary-blue);
  font-size: 22px;
  font-weight: 700;
  display: flex;
  align-items: center;
  margin-right: 345px;
}

.logo-span {
  font-style: italic;
}

.nav-list {
  display: flex;
  gap: 35px;
}

.nav-list li {
  font-size: 14px;
  color: var(--black);
}

.nav-list li:last-child {
  color: var(--primary-orange);
}

@media screen and (min-width: 1440px) {
  .nav-list li {
    font-size: 16px;
  }

  .navigation {
    margin-left: 150px;
  }

  .logo-link {
    margin-right: 470px;
  }
}

/**
  |============================
  | HERO
  |============================
*/

.hero-section {
  background-image: url(../images/background.jpg);
  height: 472px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero-section::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.5) 100%
  );
  z-index: 1;
}

.hero-heading {
  width: 406px;
  font-size: 52px;
  font-weight: bolder;
  position: absolute;
  top: 175px;
  left: 82px;
  z-index: 2;
}

.corner-box-container {
  position: absolute;
  bottom: 0px;
  right: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 140px;
  background-color: var(--secondary-blue);
  color: var(--white);
  padding-top: 14px;
  z-index: 2;
}

.box-heading {
  font-size: 14px;
  margin-bottom: 15px;
  margin-top: 15px;
  font-weight: 600;
}

.box-p {
  font-size: 18px;
  margin-bottom: 22px;
  width: 228px;
  text-align: center;
}

.btns-container {
  display: flex;
  gap: 0;
}

.btns-container button {
  background-color: var(--dark-color);
  font-size: 13px;
  color: var(--white);
  height: 30px;
  width: 150px;
  cursor: pointer;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}

.btn-back {
  border-left: none;
  border-top: none;
  border-bottom: none;
  border-right: 2px solid var(--white);
}

.btn-next {
  border-right: none;
  border-top: none;
  border-bottom: none;
  border-left: 2px solid var(--white);
}

.arrow-icon {
  fill: var(--white);
}

@media screen and (min-width: 1440px) {
  .hero-section {
    height: 600px;
  }

  .hero-heading {
    width: 450px;
    z-index: 2;
    font-size: 60px;
    font-weight: bolder;
    position: absolute;
    top: 200px;
    left: 120px;
  }

  .corner-box-container {
    width: 420px;
    height: 215px;
  }

  .box-heading {
    font-size: 20px;
    margin-top: 35px;
    margin-bottom: 24px;
  }

  .box-p {
    font-size: 22px;
    margin-bottom: 35px;
    width: 280px;
  }

  .btns-container button {
    width: 210px;
    height: 45px;
    font-size: 16px;
  }
}

/**
  |============================
  | Reputation Section
  |============================
*/

.reputation-section {
  padding: 44px 150px 60px 158px;
}

.main-rep-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.rep-heading {
  text-align: center;
  font-size: 26px;
  margin-bottom: 36px;
}

.rep-list-heading {
  font-size: 15px;
  margin-bottom: 13px;
}

.rep-p {
  color: var(--grey);
  font-size: 11px;
}

.rep-icon {
  fill: var(--primary-orange);
  margin-bottom: 10px;
}

.rep-list {
  display: flex;
  gap: 48px;
}

.rep-list li {
  width: 213px;
  border-radius: 3px;
  border: 1px solid var(--light-grey);
  padding: 14px 14px 30px 14px;
}

@media screen and (min-width: 1440px) {
  .reputation-section {
    padding: 60px 150px 60px 158px;
  }

  .main-rep-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .rep-list li {
    width: 270px;
    padding: 18px 18px 34px 18px;
  }

  .rep-heading {
    font-size: 30px;
    margin-bottom: 36px;
  }

  .rep-list-heading {
    font-size: 18px;
    margin-bottom: 13px;
  }

  .rep-p {
    color: var(--grey);
    font-size: 14px;
  }
}

/**
  |============================
  | About us section
  |============================
*/

.about-us-section {
  padding: 54px 82px 147px 83px;
  position: relative;
}

.about-text-container {
  width: 283px;
  height: 301px;
  background-color: var(--primary-blue);
  color: var(--white);
  padding: 37px 44px 44px 30px;
  border-radius: 1px;
  position: absolute;
  top: 100px;
  right: 70px;
}

.about-heading {
  margin-bottom: 27px;
  font-size: 26px;
}

.about-p {
  margin-bottom: 23px;
  width: 283px;
  font-size: 14px;
}

.last {
  margin-bottom: 52px;
}

.about-btn {
  width: 160px;
  height: 38px;
  font-size: 14px;
  font-weight: 600;
  border: none;
  border-radius: 4px;
  background-color: var(--white);
  color: var(--primary-blue);
  cursor: pointer;
}

@media screen and (min-width: 1440px) {
  .about-us-section {
    padding: 74px 300px 147px 83px;
  }
  .main-about-container {
    display: flex;
    justify-content: center;
  }

  .about-text-container {
    width: 293px;
    height: 311px;
    top: 110px;
    right: 260px;
  }

  .about-heading {
    margin-bottom: 27px;
    font-size: 27px;
  }

  .about-p {
    margin-bottom: 23px;
    width: 283px;
    font-size: 15px;
  }

  .last {
    margin-bottom: 52px;
  }

  .about-btn {
    width: 160px;
    height: 38px;
    font-size: 15px;
  }
}

/**
  |============================
  | Services section
  |============================
*/

.services-section {
  padding: 32px 158px 55px 158px;
  background-color: var(--darker-white);
}

.serv-heading {
  margin-bottom: 26px;
  text-align: center;
  font-size: 26px;
}

.services-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 35px;
  column-gap: 70px;
}

.services-list li {
  width: calc((100% - 70px * 2) / 3);
  height: 132px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}

.serv-item-heading {
  font-size: 14px;
}

.serv-icon {
  margin-bottom: 20px;
}

.blue-item {
  background-color: var(--primary-blue);
  color: var(--white);
}

.white-item {
  background-color: var(--white);
  color: var(--primary-blue);
}

.blue-item:hover,
.blue-item:focus,
.white-item:hover,
.white-item:focus {
  transform: scale(1.05);
}

@media screen and (min-width: 1440px) {
  .services-section {
    padding: 52px 168px 65px 168px;
  }

  .services-list li {
    height: 160px;
  }

  .serv-heading {
    font-size: 28px;
  }

  .serv-item-heading {
    font-size: 16px;
  }
}
